@charset "utf-8";
/* CSS Document */

/*首頁*/
#index{
	width:958px;
	margin:0 auto;
}
#index div.news{
	width:380px;
	float:left;
}
#index div.news h1{
	background:url(../images/tit_bg.jpg) left 42px repeat-x;
	margin-bottom:10px;
}
#index div.news h1 span{
	float:right;
	margin-top:37px;
}
#index div.news dl{
	background:url(../images/news_bg.png) bottom center no-repeat;
	clear:both;
	height:55px;
}
#index div.news dt{
	float:left;
	background:url(../images/news_date.jpg) top right no-repeat;
	color:#414040;
	font-size:18px;
	line-height:15px;
	padding-right:10px;
	margin:10px 0 0 10px;
}
#index div.news dd{
	color:#414040;
	font-size:15px;
	float:left;
	font-weight:bold;
	padding-top:15px;
}
#index div.map{
	background:url(../images/map_bg.jpg) left 20px no-repeat;
	float:left;
	margin-left:30px;
	padding-left:30px;
	width:517px;
	height:300px;
}
#index div.map h1{
	background:url(../images/tit_bg.jpg) left 42px repeat-x;
	margin-bottom:20px;
}
#index div.map h1 span{
	float:right;
	margin-top:37px;
}
#content{
	width:1002px;
	margin:0 auto;
}
#leftBox{
	background:#ccc;
	float:left;
	margin-right:40px;
}
#rightBox{
	width:700px;
	float:left;
	margin-top:50px;
	font-size:12px;
	line-height:20px;
}
#rightBox.about div{
	padding-left:3px;
	padding-top:10px;
}

#rightBox.about dl{
	margin-top:30px;
}
#rightBox.about dt{
	float:left;
	width:235px;
	padding-right:17px;
}
#rightBox.about dd{
	float:left;
	width:425px;
	padding-left:17px;
	border-left:1px solid #d1d2d2;
}
#rightBox.location p{
	float:left;
	width:402px;
	margin-right:40px;
}
#rightBox.location dl{
	float:left;
	width:220px;
	margin-top:160px
}
#rightBox.location dt{
	color:#a58a5f;
	padding:5px 0 2px 5px;
	border-bottom:1px solid #e1e1e1;
}
#rightBox.location dd{
	color:#727272;
	padding-left:12px;
	padding-top:7px;
}

#rightBox.public,#rightBox.environment{
	width:720px;
}
#rightBox.public ul{
	float:left;
	width:210px;
}
#rightBox.public li{
	list-style:url(../images/public_icon.jpg);
	list-style-position:inside;
	line-height:30px;
}
#rightBox.public dt span,#rightBox.public dd span{
	display:block;
	background:url(../images/line_bg.jpg);
	padding:0 5px;
	line-height:25px;
	color:#727272;
}
#rightBox.public dt{
	float:left;
	width:244px;
}
#rightBox.public dd{
	float:right;
	width:244px;
}
#rightBox.environment dt{
	float:left;
	width:363px;
	height:231px;
	padding:3px;
	border:1px solid #c9caca;
	margin-right:20px;
}
#rightBox.environment dl{
	clear:both;
	margin-bottom:20px;
}
#rightBox.environment dd{
	float:left;
	width:325px;
	line-height:20px;
}
#rightBox.environment dd h1{
	font-family:"微軟正黑體";
	color:#5c5d5d;
}
#rightBox.environment dd p{
	color:#a58a5f;
	padding:3px 0;
	margin:10px 0;
	border-bottom:1px dotted #a58a5f;
	border-top:1px dotted #a58a5f;
}
#rightBox.environment dl.rightpic dt{
	margin-right:0px;
}
#rightBox.environment dl.rightpic dd{
	margin-right:20px;
}
#rightBox.contact p{
	margin-bottom:7px;
}
#rightBox.contact span{
	color:#828181;
}
#rightBox.contact table{
	color:#999999;
	line-height:30px;
	margin-top:20px;
}
#rightBox.contact input{
	border:1px solid #e2e2e2;
	background:#f4f4f4;
	width:600px;
}
#rightBox.contact th{
	font-weight:normal;
	text-align:right;
	padding-right:10px;
}
#rightBox.contact textarea{
	margin-top:10px;
	border:1px solid #e2e2e2;
	background:#f4f4f4;
	width:600px;
	min-height:100px;
}
#rightBox.newsList {
	margin-top:20px;
}
#rightBox.newsList p{
	float:left;
	width:287px;
	overflow:hidden;
	border:1px solid #c7c8c8;
	padding:3px;
	margin-right:20px;
}
#rightBox.newsList dl{
	background:url(../images/newsList_bg.png);
	float:left;
	width:380px;
}
#rightBox.newsList dt{
	float:left;
	background:url(../images/news_date.jpg) top right no-repeat;
	color:#414040;
	font-size:18px;
	line-height:15px;
	padding-right:10px;
	margin:10px 0 15px 10px;
	width:40px;
	clear:left;
}
#rightBox.newsList dd{
	margin-bottom:15px;
	width:320px;
	color:#414040;
	font-size:15px;
	float:left;
	font-weight:bold;
	padding-top:15px;
}
#rightBox.newsShow {
	margin-top:20px;
}
#rightBox.newsShow p{
	float:left;
	width:55px;
	overflow:hidden;
	border-right:1px solid #c7c8c8;
	color:#8dae29;
	font-size:18px;
	text-align:center;
	padding-right:10px;
	margin-left:-25px;
	height:250px;
	padding-top:100px;
	margin-top:10px;
}
#rightBox.newsShow p span{
	font-size:12px;
	font-weight:bold;
}
#rightBox.newsShow dl{
	float:left;
	width:650px;
}
#rightBox.newsShow dd{
	padding:20px 30px;
}
#rightBox.newsShow dt{
	border-bottom:1px solid #c7c8c8;
	background:url(../images/word_bg.png) 10px top no-repeat;
	font-size:15px;
	font-weight:bold;
	padding:30px 0 5px 60px ;
	color:#8e5474;
}
#rightBox.rooms dl{
	border-top:1px dotted #a0a0a0;
	padding:10px 0;
	clear:both;
	margin-left:3px;
}
#rightBox.rooms dt{
	float:left;
	font-weight:bold;
	width:70px;
	text-align:center;
}
#rightBox.rooms dd{
	float:left;
	width:620px;
	padding-left:5px;
	padding-bottom:10px;
}
#rightBox.rooms table{
	margin-bottom:10px;
}
#rightBox.rooms th{
	width:70px;
	line-height:30px;
	background:#dbc0ce;
}
#rightBox.rooms td{
	width:154px;
	padding-left:5px;
}
#rightBox.rooms h1{
	font-size:18px;
	padding-left:2px;
	padding-bottom:5px;
	margin-bottom:10px;
	border-bottom:2px solid #efefef;
}
#rightBox.rooms h3{
	font-size:15px;
	clear:both;
	padding-left:2px;
	padding-bottom:5px;
	margin-bottom:10px;
	border-bottom:2px solid #efefef;
	padding-top:15px;
}
#rightBox.rooms li{
	float:left;
	width:137px;
	margin-right:3px;
	list-style:none;
	margin-bottom:20px;
}
#index div.map dt{
	float:left;
	width:220px;
	height:200px;
	padding:3px;
	border:1px solid #c9caca;
	margin-right:20px;
	overflow:hidden;
}
#index div.map dl{
	clear:both;
	margin-bottom:20px;
}
#index div.map dd{
	float:left;
	width:265px;
	line-height:20px;
	font-size:12px;
}
#index div.map dd h1{
	font-family:"微軟正黑體";
	color:#5c5d5d;
	margin-bottom:10px;
}
#index div.map dd p{
	color:#a58a5f;
	padding:3px 0;
	margin:0 0 10px;
	border-bottom:1px dotted #a58a5f;
	border-top:1px dotted #a58a5f;
}
