@charset "utf-8";
/* CSS Document */

	.abgne_tip_gallery_block2 {
		margin: 0;
		padding: 0;
		width: 256px;
		height: 890px;
		overflow: hidden;
		position: relative;
		float:left;
	}
	.abgne-yahoo-slide img {
		border: 0;
	}
	.abgne-yahoo-slide  a {
		text-decoration: none;
		color: #fff; 
	}
	.abgne-yahoo-slide  a:hover {
		color: #fc6;
	}
	.abgne-yahoo-slide ul, .abgne-yahoo-slide li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.abgne-yahoo-slide .title {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0;
		width: 100%;
		height: 50px;
		line-height: 50px;
		background: url(../images/1px_black.png);
	}
	.abgne-yahoo-slide .title h3 {
		margin: 0;
		padding: 0 0 0 20px;
	}
	.abgne-yahoo-slide .desc {
		position: absolute;
		bottom: 50px;
		left: 0;
		width: 100%;
		display: none;
		overflow: hidden;
		color: #fff;
		background: url(../images/1px_black.png);
	}
	.abgne-yahoo-slide .desc p {
		padding: 10px 10px 0;
		font-size: 12px;
		color: #ccc;
	}
/*原始物件*/
._item{
  position:relative;
  display:block;
  width:65px;
  height:39px;
}
/*滑鼠滑過去時的邊框*/
._item_border_mask{
  position:absolute;
  top:0px;
  left:0px;
  border:1px solid #000000;
  width:63px; /*原始物件的寬度 - (線寬*2) */
  height:37px; /*原始物件的高度 - (線寬*2) */
  cursor:pointer;
  z-index:999;
}
/*--room--*/
/*原始物件*/
._item_2{
  position:relative;
  display:block;
  width:506px;
  height:389px;
  float:left;
	border-left:5px solid #000;
}
/*滑鼠滑過去時的邊框*/
._item_border_mask_2{
	position:absolute;
	bottom:0px;
	left:0px;
	width:466px; /*原始物件的寬度 - (線寬*2) */
	height:65px; /*原始物件的高度 - (線寬*2) */
	cursor:pointer;
	z-index:999;
	background-image: url(../images/1px_black.png);
	background-repeat: repeat;
	padding: 20px;
}
.room_t{
	font-family: "微軟正黑體", Arial;
	font-size: 20px;
	color: #FFF;
}
.room_t2{
	color:#8b8b8b;
}
      #about_content{
        height:400px; /*內容+捲軸寬度  426 + 12*/
      }
      #about_scroll .viewport {
        overflow:hidden;
        height:389px;
        position: absolute;
      }
      #about_scroll .overview { list-style: none; position: absolute; left: 0; top: 0;}
      #about_scroll .scrollbar{  background-color:#c9c9c9; position: absolute; right:0px; height: 0px;z-index:90; top:389px;}
      #about_scroll .track { width: 100%; height:12px; position: relative; padding: 0px; }
      #about_scroll .thumb { background:#3e3e3e url("images/track_x.png") 50% 50% no-repeat; width: 20px; height: 0px; cursor: pointer; overflow: hidden; position: absolute; top: 0;z-index:91;}
      #about_scroll .disable { display: none; }
      #about_scroll{
        width:100%;
        overflow:hidden;
      }
.roomlist_bd{
				background:url(../images/1px_black.png) repeat;
				position:absolute;
				top:50%;
				margin-top:-280px;
				padding:50px 0;
}
#about_content .arrow{
	position:absolute; left:50%; margin-left:-20px; bottom:15px; z-index:9999; cursor:pointer;
}
#about_content .arrow a.arrow-left,#about_content .arrow a.arrow-right{
	width:75px;
	display:inline-block;
	height:29px;
}
#about_content .arrow a.arrow-left{
	background:url(../images/icon_drow.png) top left no-repeat
}
#about_content .arrow a.arrow-right{
	background:url(../images/icon_drow.png) top right no-repeat
}
#about_content .arrow a.arrow-left:hover{
	background-position:bottom left;
}
#about_content .arrow a.arrow-right:hover{
	background-position:bottom right;
}
