BODY {
	FONT-SIZE: 9pt; COLOR: #E7E7E7; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, §ºÊ^
}
P {
	FONT-SIZE: 9pt; COLOR: #E7E7E7; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, §ºÊ^
}
TD {
	FONT-SIZE: 9pt; COLOR: #E7E7E7; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, §ºÊ^
}
#FP IMG {
	CURSOR: hand
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
INPUT {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #c0c0c0; PADDING-BOTTOM: 1px; COLOR: #2d5875; BORDER-TOP-COLOR: #c0c0c0; PADDING-TOP: 1px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, §ºÊ^; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #c0c0c0
}
TEXTAREA {
	FONT: 12px Verdana, Arial, Helvetica, sans-serif, §ºÊ^; COLOR: #2d5875; BACKGROUND-COLOR: #f6f6f6
}
SELECT {
	FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #c0c0c0; BORDER-BOTTOM-COLOR: #c0c0c0; CURSOR: hand; COLOR: #2d5875; BORDER-TOP-COLOR: #c0c0c0; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, §ºÊ^; BACKGROUND-COLOR: #f7f7f7; BORDER-RIGHT-COLOR: #c0c0c0
}
.black_bg {
	BACKGROUND-COLOR: #ffffff
}
.bg_1 {
	BACKGROUND-COLOR: #ffffff
}
.bg_2 {
	BACKGROUND-COLOR: #dddddd
}
.timtd {
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif, §ºÊ^
}
.htd {
	LINE-HEIGHT: 200%
}
.btd {
	FONT-WEIGHT: bold
}
.bw {
	WORD-WRAP: break-word
}
.dtable {
	BORDER-RIGHT: #00215a 1px dashed; BORDER-TOP: #00215a 1px dashed; BORDER-LEFT: #00215a 1px dashed; BORDER-BOTTOM: #00215a 1px dashed
}
.tf {
	TABLE-LAYOUT: fixed
}
.bw {
	WORD-WRAP: break-word
}
DIV.HtmlCode {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 5px; MARGIN: 5px 20px; BORDER-LEFT: #cccccc 1px solid; COLOR: #333333; LINE-HEIGHT: normal; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Tahoma
}
TD.content {
	FONT-SIZE: 13px; COLOR: #525252; LINE-HEIGHT: 130%
}
.red {
	COLOR: #ff0000
}
.red_2 {
	COLOR: #990000
}
.red_3 {
	COLOR: #cc3300
}
.red_4 {
	COLOR: #cc6600
}
.end {
	COLOR: #ffffff
}
.blue {
	COLOR: #188eac
}
.blue_1 {
	COLOR: #0066cc
}
.founderr {
	COLOR: #cc6600
}
.gray {
	COLOR: #808080
}
.style6666 {
	COLOR: #666666
}
.stylex {
	FONT-SIZE: xx-small; COLOR: #666666
}
A:link {
	COLOR: #999999; TEXT-DECORATION: none
}
A:visited {
	COLOR: #999999; TEXT-DECORATION: none
}
A:visited {
	COLOR: #999999
}
A:hover {
	COLOR: #C2D896; TEXT-DECORATION: underline
}
A.style9:link {
	FONT-SIZE: 9px
}
A.style9:visited {
	FONT-SIZE: 9px
}
A.style9:hover {
	FONT-SIZE: 9px
}
A.style9:active {
	FONT-SIZE: 9px
}
A.style8:link {
	FONT-SIZE: 11px
}
A.style8:visited {
	FONT-SIZE: 11px
}
A.style8:hover {
	FONT-SIZE: 11px
}
A.style8:active {
	FONT-SIZE: 11px
}
A.style99:link {
	FONT-SIZE: 11px
}
A.style99:visited {
	FONT-SIZE: 11px
}
A.style99:hover {
	FONT-SIZE: 11px
}
A.style99:active {
	FONT-SIZE: 11px
}
A.h {
	COLOR: #363375; TEXT-DECORATION: none
}
A.h:hover {
	COLOR: #488343; TEXT-DECORATION: none
}
A.menu {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.menu:hover {
	COLOR: #ffcc00; TEXT-DECORATION: none
}
A.top {
	COLOR: #7cadcd; TEXT-DECORATION: none
}
A.top:hover {
	COLOR: #488343; TEXT-DECORATION: none
}